$lightblue: #3ea8ff;
$deepblue: #156fb9;
$darkblue: rgb(12, 86, 129);

//⭐⭐⭐⭐아주 아주 중요한 사실⭐⭐⭐
// z-index를 설정하기 위해서는 position: relative가 필수적임.
//슬라이드 다운 애니매이션
.slideDown-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.slideDown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease;
}

.slideDown-exit {
  opacity: 1;
  transform: translateY(0);
}

.slideDown-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: all 300ms ease;
}
//슬라이드 업 애니메이션
.slideUp-enter {
  opacity: 0;
  transform: translateY(100%);
}

.slideUp-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease;
}

.slideUp-exit {
  opacity: 1;
  transform: translateY(0);
}

.slideUp-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 300ms ease;
}


//목록 애니메이션
// @keyframes slide-fade-in-dropdown-animation {
//   0% {
//     transform: translateY(-100%);
//   }

//   100% {
//     transform: translateY(0);
//   }
// }

// .slide-fade-in-dropdown {
//   overflow: hidden;
// }

// .slide-fade-in-dropdown > ul {
//   animation: slide-fade-in-dropdown-animation .4s ease;
// }




// 닫기버튼 
.CloseMenuButton {
  margin-top: 10px;
  background-color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  
 
  
  border-radius: 20%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s all linear;
  border: solid 0.1em rgb(192, 192, 192);
  box-shadow: 1px 1px rgb(206, 206, 206);
  right :50%;
  // &:hover {
  //   background: #156fb9;
  // }
  // &:active {
  //   background: #3ea8ff;
  // }
  
  .closeButton {
    display: flex;
    font-size: 30px;
    position: relative;
    color: red;
    

  }
}

//목록 열기 버튼
.OpenMenuButton {
  margin-top: 10px;
  background-color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  
 
  color: $darkblue;
  border-radius: 20%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s all linear;
  border: solid 0.1em rgb(192, 192, 192);
  box-shadow: 1px 1px rgb(206, 206, 206);
  right: 50px;
  // &:hover {
  //   background: #156fb9;
  // }
  // &:active {
  //   background: #3ea8ff;
  // }
  
  .openButton {
    display: flex;
    font-size: 100px;
    
  }
}
//메뉴 목록
.MenuSection {
  height: 40px;
  font-size: 15px;
  margin-top: -24px;
  overflow: hidden;
  overflow: visible;
  z-index: 400;
  position: relative;

  

  .hideMenuSection {
    overflow: hidden;
    height: auto;
    background-color: #ffffff;
    z-index: 204;
    width: 100%;
    text-align: center;
    object-fit: contain;
    border-bottom: 1px solid #424242;
    transition: all 0.5s;
    right:0;
    .hideMenuUl {
      z-index: 40;
      align-items: center; //수직 중앙 정렬
      justify-content: center; //수평 중앙 정렬
      text-align: center;
      display: inline;
      flex-direction: row;
      position: relative;
      color: white;

      .Menulist {
        text-align: center;
        font-size: 25px;
        font-family: "BebasNeue-Regular";
        font-weight: 200;
        letter-spacing: 2px;
        text-decoration: none;
        padding-bottom: 2vh;

        .MenuLink {
          color: black;
          font-weight: 600;
          text-decoration: none;
          z-index: 40;

          &:hover {
            text-decoration: underline;
            transform: translate(-50%, 20%);
            transition: 0.3s;
          }
        }

        &:nth-child(1) {
          padding-top: 3.4vh;
        }
      }
    }
  }
}